.profile {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 120px 1fr 150px;
  grid-template-areas: "avatar info button";
  align-items: center;
}

@media screen and (max-width: 993px) {
  .profile {
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
  }
}