.popup__submit-button-text {
  color: #FFFFFF;
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 738px) {
  .popup__close-icon {
    font-size: 14px;
    line-height: 17px;
  }
}