.profile-info {
  grid-area: info;
  margin: 0 0 0 30px;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: max-content;
  gap: 16px 18px;
}

@media screen and (max-width: 1003px) {
  .profile-info {
    grid-template-columns: 1fr max-content 1fr;
    margin: 26px 0 36px;
    gap: 14px 10px;
  }
}